$primaryColor: #e6e6e6;

.ql-snow {
  .ql-picker.ql-table-picker {
    width: 28px;
    
    .ql-picker-label {
      border: none;
      padding: 0;

      svg {
        float: left;
        height: 100%;
        margin-top: auto;
        position: static;
        right: auto;
        top: auto;
        width: auto;
      }
    }

    .ql-picker-options {
      padding: 3px 5px;
      width: 212px;
    }

    .ql-picker-item {
      background-color: $primaryColor;
      //background-color: desaturate($primaryColor, 20%);
      border: 1px solid transparent;
      float: left;
      height: 16px;
      margin: 2px;
      padding: 0;
      width: 16px;

      &.hover {
        //background-color: 007f00;
        background-color: darken(desaturate($primaryColor, 25%), 10%);
        //border-color: darken((desaturate(#007f00, 15%)), 0%);
      }
    }
  }
}